html, body {
	background-color: #eee;
	font-family: BrandonReg, serif; 
}

.item {
	background-color: #eee;

	&:hover {
		background-color: #fff;
	}

	button {
		position: relative;
		z-index: 1;
	}
}