$cart-width: 400px;

$cart-background: #e9f4f3;
$cta-blue:  #6cc2e0;
$product-side-blue: #88dce5;

$dark-gray: #4d4d4d;
$medium-gray: #808080;
$light-gray: #b3b3b3;

html, body {
	background-color: #eee;
	font-family: BrandonReg, serif; 
}

.item {
	background-color: #eee;

	&:hover {
		background-color: #fff;
	}

	button {
		position: relative;
		z-index: 1;
	}
}

section#grid {
	float: left;
	width: calc(100% - 400px);
}

section#cart {
	float: right;
	width: $cart-width;

	background-color: $cart-background;
}