<html ng-app="lego">
	<head>
		<title>It's Party Time!</title>
		<meta charset="UTF-8">
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico"/>

		<link rel="stylesheet" href="./assets/styles/css/normalize.css">
		<link rel="stylesheet" href="./assets/styles/css/fonts.css">
		<link rel="stylesheet" href="./assets/styles/css/styles.css">
	</head>
	<body ng-controller="mainCtrl">
		<section id="selection" class="stage-{{process}}">
			<div class="stage-0" ng-show="process==0">
				<img class ="logo" src="./assets/img/party-time.png" height="40px">
				<h2>The easy peasy lemon squeezy party planner</h2>
				<button ng-click="process = process + 1">Let's plan my party!</button>
			</div>

			<div class="stage-1" ng-show="process==1">
				<h1>What type of party are you having?</h1>
				<div class="options">
					<div class="opt" ng-repeat="(type, theme) in themes">
						<input id="type_{{type}}" type="radio" name="type" value="{{type}}" ng-model="party.type">
						<label for="type_{{type}}" ng-click="changeBackground(type)">{{type}}</label>
					</div>
				</div>
				<button ng-disabled="!party.type" ng-click="process = process + 1">Next!</button>
			</div>

			<div class="stage-2" ng-show="process==2">
				<h1>What party theme do you want?</h1>
				<div class="options">
					<div class="opt" ng-repeat="theme in themes[party.type]">
						<input id="theme_{{theme}}" type="radio" name="theme" value="{{theme}}" ng-model="party.theme">
						<label for="theme_{{theme}}">{{theme}}</label>
					</div>
				</div>
				<button ng-disabled="!party.theme" ng-click="process = process + 1; apiCalls()">Next!</button>
			</div>
		</section>

		<section id="grid">
			<header>
				<a ng-click="resetParty()" class="reset">Change party</a>
				<h2><span ng-if="party.theme!=party.type">{{party.theme}}</span> {{party.type}} Party</h2>
				<a ng-click="addRec()">Add Recommended Items</a>
				<hr>
			</header>
			<ul>
				<li class="item" ng-repeat="item in items track by $index" ng-click="addToCart($index)" ng-if="item.salePrice">
					<button ng-click="removeFromList($index)">X</button>
					<img ng-src="{{item.thumbnailImage}}">
					<div class="content">
						<h3>{{item.name}}</h3>
						<!-- <p ng-if="item.msrp" class="price">${{item.msrp.toFixed(2)}}</p> -->
						<pclass="price">${{item.salePrice.toFixed(2)}}</p>
					</div>
				</li>
			</ul>
		</section>

		<section id="cart">
			<header>
				<span class="count">{{cart.length}} item<span ng-if="cart.length != 1">s</span></span>
				<h2>Cart</h2>
				<hr>
			</header>
			<div class="cart">
				<ul>
					<li class="item" ng-repeat="item in cart">
						<img ng-src="{{item.thumbnailImage}}">
						<div class="content">
							<div class="savings">
								<span class="strikethrough" ng-if="item.msrp && item.msrp > item.salePrice"><span class="price">&nbsp;${{item.msrp.toFixed(2)}}&nbsp;</span></span>
								&nbsp;
								<span class="sale-price">${{item.salePrice.toFixed(2)}}</span>
							</div>

							<h3>{{item.name}}</h3>
							<a ng-click="removeFromCart($index)">Remove from cart</a>
						</div>
					</li>
				</ul>
				<div class="cost">
					<h3>Subtotal: <span class="total">${{(totalCost).toFixed(2)}}</h3>
					<p class="savings" ng-if="cart.length > 0 && totalCost - wTotalCost > 0">You saved <span>${{(totalCost - wTotalCost).toFixed(2)}}</span> by shopping <br>at Walmart!</p>
				</div>
				<button class="checkout" ng-show="cart.length > 0" ng-click="checkOut()">I'm ready to party!</button>
			</div>
		</section>

		<script src="./assets/js/jquery-3.0.0-alpha1.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
		<script src="./assets/js/app.js"></script>
	</body>
</html>