<html ng-app="lego">
	<head>
		<title>Walmart give us free stuff</title>
		<meta charset="UTF-8">
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico"/>

		<link rel="stylesheet" href="./assets/styles/css/normalize.css">
		<link rel="stylesheet" href="./assets/styles/css/fonts.css">
		<link rel="stylesheet" href="./assets/styles/css/styles.css">
	</head>
	<body ng-controller="mainCtrl">
		<section id="selection">
			
		</section>

		<section id="grid">
			<header>
				<h2>Hawaiian Birthday Party</h2>
				<hr>
			</header>
			<ul>
				<li class="item" ng-repeat="item in items" ng-click="addToCart($index)">
					<img ng-src="{{item.thumbnailImage}}">
					<div>
						<h3>{{item.name}}</h3>
						<p class="price">${{item.msrp}}</p>
						<p>{{item.shortDescription}}</p>
						<button ng-click="removeFromList($index)">X</button>
					</div>
				</li>
			</ul>
		</section>

		<section id="cart">
			<header>
				<h2>Cart</h2>
				<hr>
			</header>
			<ul class="cart">
				<li class="item" ng-repeat="item in cart">
					<img ng-src="{{item.thumbnailImage}}">
					<div>
						<h3>{{item.name}}</h3>
						<p class="price">${{item.msrp}}</p>
						<p>{{item.shortDescription}}</p>
						<button ng-click="removeFromCart($index)">X</button>
					</div>
				</li>
			</ul>
		</section>

		<script src="./assets/js/jquery-3.0.0-alpha1.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
		<script src="./assets/js/app.js"></script>
	</body>
</html>