html, body {
  background-color: #eee;
  font-family: BrandonReg, sans-serif; }

.item {
  background-color: #eee; }
  .item:hover {
    background-color: #fff; }
  .item button {
    position: relative;
    z-index: 1; }

section#grid {
  float: left;
  width: calc(100% - 400px); }

section#cart {
  float: right;
  width: 400px;
  background-color: #e9f4f3; }
