html, body {
  background-color: #eee;
  font-family: BrandonReg, serif; }

.item {
  background-color: #eee; }
  .item:hover {
    background-color: #fff; }
  .item button {
    position: relative;
    z-index: 1; }
